@use '../util' as *;

/* prettier-ignore */
h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
    line-height: 1.15;
    letter-spacing: -0.022em;
    margin: 0;
    margin-bottom: rem(20);
}

// Typescale = 1.250 - Major Third
// https://typescale.com/
h1 {
  font-size: var(--fs-large);
}

p {
  font-size: var(--fs-reg);
  margin-bottom: rem(20);
}

.small,
small {
  font-size: var(--fs-small);
}

.xsmall {
  font-size: var(--fs-xsmall);
}

.disclaimer {
  margin-bottom: 0;
  font-style: normal;
  font-weight: 500;
  font-size: rem(11);
  line-height: rem(21);
  letter-spacing: 1px;
  /* or 191% */
  text-align: center;
  color: var(--clr-blue-gray);

  a {
    font-weight: 700;
    color: var(--clr-red);
    text-decoration: none;
  }
}
