@use '../util' as *;

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  font-style: normal;
  font-weight: normal;
}

body {
  padding: rem(88) rem(24) rem(68);
  position: relative;
  height: 100vh;
  background: url('../../images/bg-intro-mobile.png') center/cover no-repeat,
    var(--clr-red);
  font-family: var(--ff-sans);
  font-weight: 500;
  font-size: var(--fs-reg);
  line-height: 1.6;

  @include breakpoint(medium) {
    background: url('../../images/bg-intro-desktop.png') center/cover no-repeat,
      var(--clr-red);
  }
}

html,
body {
  margin: 0px auto;
  width: 100%;
  box-sizing: border-box;
  color: var(--clr-white);
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
