@use '../util' as *;

.row {
  display: flex;
  flex-direction: column;

  @include breakpoint(medium) {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}

@include breakpoint(medium) {
  // SIMPLE COLUMNS - FRACTIONS
  .col-half {
    width: rem(540);
  }
}
