@use '../util' as *;

.attribution {
  font: var(--text-preset-4-reg);
  text-align: center;
}
.attribution a {
  position: relative;
  color: var(--clr-gray-900);
  text-decoration: none;

  &::before,
  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    border-bottom: rem(1) solid currentColor;
    width: 0;
    transition: var(--transition);
  }

  &::before {
    right: 50%;
  }

  &::after {
    left: 50%;
  }

  &:hover::before,
  &:hover::after {
    width: 50%;
  }
}
