@use '../util' as *;

.row {
  display: flex;
  flex-direction: column;
  gap: rem(61);

  @include breakpoint(desktop) {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: rem(48);
  }
}

@include breakpoint(desktop) {
  // SIMPLE COLUMNS - FRACTIONS
  .col {
    flex-shrink: 0;
  }

  .col:first-child {
    width: rem(525);
  }

  .col:nth-child(2) {
    width: rem(540);
  }
}
